# Database Configuration
DB_HOST=10.10.0.11
DB_NAME=dvwa
DB_USER=dvwa
DB_PASSWORD=p@ssw0rd
DB_ROOT_PASSWORD=dvwa_root_pass

# DVWA Application Configuration
DVWA_IP=10.10.0.10
DEFAULT_SECURITY_LEVEL=low
